html,
body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button 
{
    width: 100px;
}

img
{
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
}
.pigeon
{
    background-image: url("img/pigeoncaptain.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200%;
}
@media all and (max-width: 767px)
{
    img 
    {
        display: block;
        margin: 0 auto;
    }
}

